.footer__contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact{
    color: black;
}
.white{
    /* color: white; */
    font-weight: 700;
}
.footer__info{
    margin-top: 30px;
    color: rgb(97, 97, 97);
    font-size: 14px;
}
.footer__logo{
    margin-top: 30px;
    font-size: 22px;
    color: white;
    font-weight: 700;
}
.footer-logo__span{
    font-size: 22px;
    color: red;
    font-weight: 700;
}