.header{
    display: flex;
    /* max-width: 1400px; */
    margin: 0 auto;
    justify-content: space-around;
    padding: 40px 4px;
}
.header-logo{
    color: rgb(235, 92, 92);
    font-weight: 700;
    width: 221px;
    font-size: 20px;
}
.header-logo__span{
    color: #04b586;
    font-weight: 700;
    font-size: 20px;
}
.header-phone__num{
    color: #646d80;
    font-size: 20px;
}
.header-phone{
    width: 221px;
    text-align: center;
}
.header-btn{
    border: 2px solid #bbd0d6;
    font-size: 17px;
    padding: 4px 16px;
    transition: .2s;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    color: #646d80;
    font-weight: 500;
    /* border-radius: 10px; */
    width: 221px;
}
.header-btn:hover{
    border: 2px solid #67787e;
    cursor: pointer;
    background-color: #04b58611;
    text-decoration: none;
    color: #414650;
}
.header-mobile{
    display: none;
}
