.section-calculate{
    margin: 40px auto;
}
.calculate__form{
    background: white;
    height: 700px;
    border-radius: 20px;
    box-shadow: 0 60px 80px rgb(15 21 38 / 10%);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;
}
.calc__sum{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 100%;
}
.calc__sum-left{
    color: rgb(141, 141, 141);
}
.calc__sum-right{
    font-size: 30px;
}
.calc__range{
    width: 100%;
    margin-top: 40px;

    -webkit-appearance: none;
    height: 10px;
    background: linear-gradient(90deg, red 0%, rgb(141, 141, 141) 0%);
    outline: none;
    border-radius: 10px;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.calc__range::-webkit-slider-thumb{
    width: 40px;
    height: 40px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
}
.calc__range::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    cursor: pointer;
}
.calculate__header{
    margin-top: 20px;
    line-height: 1.5;
    font-size: 30px;
    color: #ff0040;
}
.calculate__input{
    background: rgba(11,31,53,.05);
    box-shadow: inset 0 0 0 2px rgba(237, 102, 102, 0.4);
    border-radius: 8px;
    width: calc(50% - 22px);
    padding: 15px 20px;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    margin: 10px;
    border: 0;
}
.calculate__agreement{
    border: 0;
    width: 400px;
}
.calculate__submit{
    width: 200px;
    height: 50px;
    font-size: 15px;
    line-height: 1.3;
    letter-spacing: .03em;
    cursor: pointer;
    background: red;
    color: white;
    border:  0;
    font-weight: 700;
    border-radius: 15px;
}
.calculate__submit:hover{
    background: rgb(255, 91, 91);
    color: white;
    border:  0;
    font-weight: 700;
    border-radius: 15px;
}